<div class="sf-pad-3 sf-bg-secondary">
  <div class="head">
  <!-- <a href="javascript:void(0);"><img src="img/silverfin.png" /></a> -->
  </div>
  <hr />

  <div class="title">BASICS</div>
  <ul class="menu">
    <a href="javascript:void(0);"><li>Syntax</li></a>
    <a href="javascript:void(0);"><li>Operators</li></a>
    <a href="javascript:void(0);"><li>Objects</li></a>
  </ul>

  <div class="title">TAGS</div>
  <ul class="menu">
    <a href="javascript:void(0);"><li>Comments</li></a>
    <a href="javascript:void(0);"><li class="active">Input</li></a>
    <a href="javascript:void(0);"><li>Control flow</li></a>
    <a href="javascript:void(0);"><li>Iteration</li></a>
    <a href="javascript:void(0);"><li>Variables</li></a>
  </ul>

  <div class="title">FILTERS</div>
  <ul class="menu">
    <a href="javascript:void(0);"><li>String Filters</li></a>
    <a href="javascript:void(0);"><li>Math Filters</li></a>
    <a href="javascript:void(0);"><li>Date Filter</li></a>
  </ul>

  <div class="title">STYLE</div>
  <ul class="menu">
    <a href="javascript:void(0);"><li>Font</li></a>
    <a href="javascript:void(0);"><li>Layout</li></a>
  </ul>

  <div class="title">STRUCTURE</div>
  <ul class="menu">
    <a href="javascript:void(0);"><li>Tables</li></a>
  </ul>
</div>
