          <!-- Sidebar -->
          <div class="sf-pad-3 sf-below-5">
            <a class="sf-block sf-nav-brand-logo sf-pad-l-3 sf-below-3" href="#"><img alt="" src="/images/sf-icon.svg"></a>
            <div class="sf-title sf-pad-l-3 sf-font-l sf-below-4">
              Liquid guides
            </div>
            <div class="sf-uppercase sf-pad-l-3 sf-below-1">
              Basics
            </div>
            <div class="sf-tab-full sf-pointer sf-pad-h-1 sf-below-4">
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/syntax">
                Syntax
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/operators">
                Operators
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/objects">
                Objects
              </a>
            </div>
            <div class="sf-uppercase sf-pad-l-3 sf-below-1">
              Tags
            </div>
            <div class="sf-tab-full sf-pointer sf-pad-h-1 sf-below-4">
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Comments
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Input
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Control flow
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Iteration
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Variables
              </a>
            </div>
            <div class="sf-uppercase sf-pad-l-3 sf-below-1">
              Filters
            </div>
            <div class="sf-tab-full sf-pointer sf-pad-h-1">
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Comments
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Input
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Control flow
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Iteration
              </a>
              <a class="sf-tab-item sf-a sf-block sf-fwdb sf-pad-h-2 sf-hover" href="/link">
                Variables
              </a>
            </div>
          </div><!-- /Sidebar -->
