---
---

h3 {
  color: #62CAE0;
  border-top: 1px solid #DDD;
  padding-top: 15px;
  margin-top: 0;
}

p:not(:last-child) {
    margin-bottom: 15px;
}

a {
  color: #62CAE0;
  text-decoration: none;
}

a:hover {
  color: #AAA;
  text-decoration: none;
}

.topic {
  margin-bottom: 30px;
}

.topic:not(:last-child) {
  padding-bottom: 30px;
}

.sf-code {
  margin: 0;
}

.comment {
  color: #CCC;
}

code.highlighter-rouge {
  background: rgba(241, 243, 245, 0.8);
}

.sf-code-preview {
    border-bottom: 0px;
}

.sf-modal-content img {
    max-width: 100%;
}
