<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
{%- include head.html -%}
<body class="sf-body sf-border-box">
  <div class="sf-grid sf-grid-fluid sf-grid-gutter-none sf-border-box">
    <div class="sf-row sf-row-eq-height">
      <div class="sf-col sf-xs-12 sf-md-3">
        <div class="sf-full-height">
        {%- include menu.html -%}
        </div>
      </div>
      <div class="sf-col sf-xs-12 sf-md-9">
        <div class="sf-bg-white sf-pad-4 sf-full-height">
          <div class="sf-full-height">
          {{ content }}
          </div>
        </div>
      </div>
    </div>
  </div>
  {%- include footer.html -%}
</body>

</html>
